@import (reference) '~antd/es/style/themes/index';

.block-checkbox {
  display: flex;

  &-side {
    position: relative;
    width: 44px;
    height: 36px;
    margin-right: 16px;
    overflow: hidden;
    background-color: #f0f2f5;
    border-radius: 4px;
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.18);
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 33%;
      height: 100%;
      background-color: rgb(0, 0, 0);
      content: '';
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 67%;
      height: 25%;
      background-color: rgb(255, 255, 255);
      content: '';
    }
  }
  &-top {
    position: relative;
    width: 44px;
    height: 36px;
    margin-right: 16px;
    overflow: hidden;
    background-color: #f0f2f5;
    border-radius: 4px;
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.18);
    cursor: pointer;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 25%;
      background-color: rgb(0, 0, 0);
      content: '';
    }
  }
  &-mix {
    position: relative;
    width: 44px;
    height: 36px;
    margin-right: 16px;
    overflow: hidden;
    background-color: #f0f2f5;
    border-radius: 4px;
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.18);
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 33%;
      height: 100%;
      background-color: rgb(255, 255, 255);
      content: '';
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 25%;
      background-color: rgb(0, 0, 0);
      content: '';
    }
  }
  &-selectIcon {
    position: absolute;
    right: 6px;
    bottom: 4px;
    color: @primary-color;
    font-weight: bold;
    font-size: 14px;
    pointer-events: none;
    .action {
      color: @primary-color;
    }
  }
}
